<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>TownHall</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "rails", "data-turbolinks-track" => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    votes: <%= current_user.vote_count %>
  <% end %>

  <main id='view-frame' ng-view></main>

  <%= javascript_include_tag "vendor/require", :"data-main" => "js/main" %>
</body>
</html>
